<?xml version="1.0" encoding="UTF-8"?>
<openerp>
    <data>

<!-- top level menu: no parent -->
        <menuitem id="base.main_toir_menu" name="ТОиР"/>
        <!-- A first level in the left side menu is needed
             before using action= attribute -->

        <menuitem id="toir_menu" name="Справочники" sequence="1" parent="base.main_toir_menu" groups="group_toir_manager,group_toir_users"/>
        
        <menuitem id="aktiv_aktiv_menu" name="Активы (оборудование)" sequence="1" parent="toir_menu" action="aktiv_aktiv_list_action" groups="group_toir_manager,group_toir_users"/>
        <menuitem id="aktiv_aktiv_tree_menu" name="Активы (иерархия)" sequence="1" parent="toir_menu" action="aktiv_aktiv_tree_action" groups="group_toir_manager,group_toir_users"/>
        
        <menuitem id="aktiv_categ_menu" name="Категории активов" sequence="2" parent="toir_menu" action="aktiv_categ_list_action" groups="group_toir_manager,group_toir_users"/>



        <menuitem id="aktiv_type_menu" name="Типы активов" sequence="2" parent="toir_menu" action="aktiv_type_list_action" groups="group_toir_manager,group_toir_users"/>

        <menuitem id="aktiv_tr_menu" name="Типовые ремонты" sequence="2" parent="toir_menu" action="aktiv_tr_list_action" groups="group_toir_manager,group_toir_users"/>

        <menuitem id="aktiv_vid_remonta_menu" name="Виды ремонтов и диагностирования" sequence="2" parent="toir_menu" action="aktiv_vid_remonta_list_action" groups="group_toir_manager,group_toir_users"/>
        
        <menuitem id="aktiv_vid_rabot_menu" name="Виды работ" sequence="2" parent="toir_menu" action="aktiv_vid_rabot_list_action" groups="group_toir_manager,group_toir_users"/>

        <menuitem id="aktiv_status_menu" name="Статус активов" sequence="2" parent="toir_menu" action="aktiv_status_list_action" groups="group_toir_manager,group_toir_users"/>

        <menuitem id="aktiv_nomen_nomen_list_menu" name="Номенклатура" parent="toir_menu" action="selhoz_base.nomen_nomen_list_action" groups="group_toir_manager,group_toir_users"/>

        <menuitem id="aktiv_location_location_list_menu" name="Места нахождения" parent="toir_menu" action="selhoz_base.location_location_list_action" groups="group_toir_manager,group_toir_users"/>

         <menuitem id="aktiv_remont_service_menu" name="Ремонтные службы" parent="toir_menu" action="aktiv_remont_service_list_action" groups="group_toir_manager,group_toir_users"/>


        <menuitem id="toir_menu_doc" name="Документы" sequence="2" parent="base.main_toir_menu" groups="group_toir_manager,group_toir_users"/>

        <menuitem id="aktiv_gr_menu" name="Графики ремонтов" sequence="1" parent="toir_menu_doc" action="aktiv_gr_list_action" groups="group_toir_manager,group_toir_users"/>

        <menuitem id="aktiv_plan_remont_menu" name="План ремонтов" sequence="1" parent="toir_menu_doc" action="aktiv_plan_remont_list_action" groups="group_toir_manager,group_toir_users"/>

        <menuitem id="aktiv_remont_menu" name="Ремонты" sequence="1" parent="toir_menu_doc" action="aktiv_remont_list_action" groups="group_toir_manager,group_toir_users"/>

     <!--    <menuitem id="toir_currency_rates" name="Курсы валют" sequence="1" parent="toir_menu_doc" action="currency_rate_list_action" groups="group_toir_manager,group_toir_users"/> -->



    <!--     <menuitem id="korm_korm_menu" name="Кормление" sequence="1" parent="korm_menu_doc" action="korm_korm_list_action" groups="group_korm_manager,group_korm_users"/> -->

        

        
<!--
         Левое меню
-->
        <menuitem id="toir_menu_report" name="Отчеты" sequence="3" parent="base.main_toir_menu" groups="group_toir_manager,group_toir_users"/>




        

    


        
    </data>
</openerp>