<?xml version="1.0" encoding="UTF-8"?>
<openerp>
    <data>

<!-- top level menu: no parent -->
        <menuitem id="base.main_korm_menu" name="Кормление"/>
        <!-- A first level in the left side menu is needed
             before using action= attribute -->
        

        <menuitem id="korm_menu_doc" name="Документы" sequence="1" parent="base.main_korm_menu" groups="group_korm_manager,group_korm_users"/>

        <menuitem id="korm_analiz_pit_menu" name="Анализ питательности корма" parent="korm_menu_doc" action="korm_analiz_pit_list_action" groups="group_korm_manager,group_korm_users"/>

        <menuitem id="korm_receptura_menu" name="Рецептуры комбикормов" parent="korm_menu_doc" action="korm_receptura_list_action" groups="group_korm_manager,group_korm_users"/>
    
        <menuitem id="korm_norm_menu" name="Нормы кормления" parent="korm_menu_doc" action="korm_norm_list_action" groups="group_korm_manager,group_korm_users"/>

        <menuitem id="korm_racion_menu" name="Рацион кормления" parent="korm_menu_doc" action="korm_racion_list_action" groups="group_korm_manager,group_korm_users"/>

        <menuitem id="korm_korm_menu" name="Кормление" parent="korm_menu_doc" action="korm_korm_list_action" groups="group_korm_manager,group_korm_users"/>

        <menuitem id="korm_korm_ostatok_menu" name="Остатки кормления" parent="korm_menu_doc" action="korm_korm_ostatok_list_action" groups="group_korm_manager,group_korm_users"/>

        <menuitem id="korm_potrebnost_menu" name="Потребность в кормах" parent="korm_menu_doc" action="korm_potrebnost_action" groups="group_korm_manager,group_korm_users"/>

        <menuitem id="korm_svod_report_menu" name="Анализ кормления" parent="korm_menu_doc"
                  action="korm_svod_report_action" groups="group_korm_manager,group_korm_users"/>
<!--
         Левое меню
-->
       


        <menuitem id="korm_menu" name="Справочники" sequence="2" parent="base.main_korm_menu" groups="group_korm_manager,group_korm_users"/>

        <menuitem id="korm_pit_standart_menu" name="Питательность по стандарту" parent="korm_menu" action="korm_pit_standart_list_action" groups="group_korm_manager,group_korm_users"/>

        <menuitem id="stado_vid_fiz_group_menu" name="Вид физ. группы" parent="korm_menu" action="stado_vid_fiz_group_list_action" groups="group_korm_manager,group_korm_users"/>

        <menuitem id="stado_fiz_group_menu" name="Физиологическая группа" parent="korm_menu" action="stado_fiz_group_list_action" groups="group_korm_manager,group_korm_users"/>

        <menuitem id="stado_zagon_menu" name="Загоны" parent="korm_menu" action="stado_zagon_list_action" groups="group_korm_manager,group_korm_users"/>

        <menuitem id="transport_menu" name="Транспорт" parent="korm_menu"
                  action="milk.transport_list_action" groups="group_korm_manager,group_korm_users"/>




    


        
    </data>
</openerp>