<?xml version="1.0" encoding="UTF-8"?>
<openerp>
    <data>

<!-- top level menu: no parent -->
        <menuitem id="base.main_korm_menu" name="Кормление"/>
        <!-- A first level in the left side menu is needed
             before using action= attribute -->
        

        <menuitem id="korm_menu_doc" name="Документы" sequence="1" parent="base.main_korm_menu" groups="group_korm_manager,group_korm_users,group_korm_furajir"/>

        <menuitem id="korm_korm_menu" name="Кормление" sequence="1" parent="korm_menu_doc" action="korm_korm_list_action" groups="group_korm_manager,group_korm_users"/>

        <menuitem id="korm_analiz_smes_korma_menu" name="Анализ смешенного корма" sequence="2" parent="korm_menu_doc" action="korm_analiz_smes_korma_list_action" groups="group_korm_manager,group_korm_users"/>

        <menuitem id="korm_korm_ostatok_menu" name="Остатки кормления" sequence="3" parent="korm_menu_doc" action="korm_korm_ostatok_list_action" groups="group_korm_manager,group_korm_users"/>

        <menuitem id="korm_rashod_kormov_menu" name="Расход кормов и добавок" sequence="4" parent="korm_menu_doc" action="korm_rashod_kormov_list_action" groups="group_korm_manager,group_korm_users,group_korm_furajir"/>

        <menuitem id="stado_struktura_menu" name="Структура стада" sequence="5" parent="korm_menu_doc" action="stado_struktura_list_action" groups="group_korm_manager,group_korm_users"/>






        
        <menuitem id="korm_menu_norm" name="Нормы" sequence="2" parent="base.main_korm_menu" groups="group_korm_manager,group_korm_users"/>

        <menuitem id="korm_plan_menu" name="План расхода кормов и добавок" sequence="4" parent="korm_menu_norm" action="korm_plan_list_action" groups="group_korm_manager,group_korm_users"/>


        <menuitem id="korm_potrebnost_menu" name="Потребность в кормах" sequence="5" parent="korm_menu_norm" action="korm_potrebnost_action" groups="group_korm_manager,group_korm_users"/>

        <menuitem id="korm_potrebnost_limit_menu" name="Лимиты кормления" sequence="5" parent="korm_menu_norm" action="korm_potrebnost_limit_action" groups="group_korm_manager,group_korm_users"/>

        <menuitem id="korm_racion_menu" name="Рацион кормления" sequence="6" parent="korm_menu_norm" action="korm_racion_list_action" groups="group_korm_manager,group_korm_users"/>

        <menuitem id="korm_receptura_menu" name="Рецептуры комбикормов" sequence="7" parent="korm_menu_norm" action="korm_receptura_list_action" groups="group_korm_manager,group_korm_users"/>
        
        <menuitem id="korm_analiz_pit_menu" name="Анализ питательности корма" sequence="8" parent="korm_menu_norm" action="korm_analiz_pit_list_action" groups="group_korm_manager,group_korm_users"/>

        <menuitem id="korm_norm_menu" name="Нормы кормления" sequence="9" parent="korm_menu_norm" action="korm_norm_list_action" groups="group_korm_manager,group_korm_users"/>
    



        
<!--
         Левое меню
-->
        <menuitem id="korm_menu_report" name="Отчеты" sequence="3" parent="base.main_korm_menu" groups="group_korm_manager,group_korm_users"/>

        <menuitem id="korm_receptura_report_menu" name="Анализ комбикормов" parent="korm_menu_report" action="korm_receptura_report_action" groups="group_korm_manager,group_korm_users"/>

        <menuitem id="korm_svod_report_menu" name="Анализ кормления" parent="korm_menu_report"
                  action="korm_svod_report_action" groups="group_korm_manager,group_korm_users"/>

        <menuitem id="korm_ostatok_report_menu" name="Анализ остатков кормления" parent="korm_menu_report"
                  action="korm_ostatok_report_action" groups="group_korm_manager,group_korm_users"/>

        <menuitem id="korm_rashod_kormov_report_menu" name="Анализ расхода кормов и добавок" parent="korm_menu_report"
                  action="korm_rashod_kormov_report_action" groups="group_korm_manager,group_korm_users"/>

        <menuitem id="korm_plan_fakt_report_menu" name="Выполнение плана кормления" parent="korm_menu_report"
                  action="korm_plan_fakt_report_action" groups="group_korm_manager,group_korm_users"/>
        
        <menuitem id="korm_buh_report_menu" name="Отчетность в бухгалтерию" parent="korm_menu_report"
                  action="korm_buh_report_action" groups="group_korm_manager,group_korm_users"/>

        <menuitem id="korm_analiz_sv_report_menu" name="Анализ потребления СВ" parent="korm_menu_report"
                  action="korm_analiz_sv_report_action" groups="group_korm_manager,group_korm_users"/>

        <menuitem id="korm_analiz_potrebleniya_kormov_report_menu" name="Анализ потребления кормов" parent="korm_menu_report"
                  action="korm_analiz_potrebleniya_kormov_report_action" groups="group_korm_manager,group_korm_users"/>

        <menuitem id="korm_analiz_efekt_korm_report_menu" name="Анализ эффективности кормления" parent="korm_menu_report"
                  action="korm_analiz_efekt_korm_report_action" groups="group_korm_manager,group_korm_users"/>







        <menuitem id="korm_menu" name="Справочники" sequence="4" parent="base.main_korm_menu" groups="group_korm_manager,group_korm_users"/>
        

        <menuitem id="korm_nomen_nomen_list_menu" name="Номенклатура" parent="korm_menu" action="selhoz_base.nomen_nomen_list_action" groups="group_korm_manager,group_korm_users"/>


        <menuitem id="korm_pit_standart_menu" name="Питательность по стандарту" parent="korm_menu" action="korm_pit_standart_list_action" groups="group_korm_manager,group_korm_users"/>

        <menuitem id="stado_vid_fiz_group_menu" name="Вид физ. группы" parent="korm_menu" action="selhoz_base.stado_vid_fiz_group_list_action" groups="group_korm_manager,group_korm_users"/>

        <menuitem id="stado_podvid_fiz_group_menu" name="Подвид физ. группы" parent="korm_menu" action="selhoz_base.stado_podvid_fiz_group_list_action" groups="group_korm_manager,group_korm_users"/>

        <menuitem id="stado_fiz_group_menu" name="Физиологическая группа" parent="korm_menu" action="selhoz_base.stado_fiz_group_list_action" groups="group_korm_manager,group_korm_users"/>

        <menuitem id="stado_zagon_menu" name="Загоны" parent="korm_menu" action="selhoz_base.stado_zagon_list_action" groups="group_korm_manager,group_korm_users"/>

        <menuitem id="transport_menu" name="Транспорт" parent="korm_menu"
                  action="selhoz_base.transport_list_action" groups="group_korm_manager,group_korm_users"/>




    


        
    </data>
</openerp>